body {
  font-family: sans-serif;
  max-width: 400px;
  margin: 0 auto;
  padding: 30px;
}

form {
  display: flex;
  flex-wrap: wrap;
}

input[type="text"] {
  width: 100%;
  border: none;
  outline: none;
  font-size: 20px;
  padding: 10px;
  text-align: right;
  background-color: #e6e6e6;
}

button[type="button"] {
  width: 25%;
  border: none;
  outline: none;
  background-color: #e6e6e6;
  color: black;
  font-size: 20px;
  padding: 20px 0;
  cursor: pointer;
}

button[type="button"]:hover {
  background-color: #d9d9d9;
}
