body {
  text-align: center;
  background:linear-gradient(to right,#5f2c82,#49a09d);
}

h1 {
  color: white;
}

#game {
  margin: 0 auto;
  width: 50%;
  text-align: left;
  background:white;
  padding:20px;
  border-radius: 10px;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 4px;
  border: none;
  background-color: #f8f8f8;
  font-size: 16px;
}

button {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

#playAgain {
  background-color: #ff5722;
}

#result {
  color: #ff5722;
  font-size: 20px;
}

#chances{
  color: #ff5722;
  font-size: 16px;
}
